* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100dvh;

  background-image: url('./images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

/* left container */

.left-container {
  padding-left: 15rem;
}

.left-container-text {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  height: 180px;
  width: 480px;
}

.left-container-heading {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.6rem;

  margin-right: 8rem;
}

.left-container-description {
  color: white;
  font-size: 0.8rem;

  letter-spacing: 0.01rem;
  line-height: 1.4rem;
  opacity: 0.8;
  font-weight: 400;

  margin-right: 2rem;
}

/* right container, the form */

.right-container {
  padding-right: 15rem;

  /* this flex is applying to all the input boxes */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* call to action bar */

.right-container-cta {
  height: 50px;
  width: 450px;

  border-radius: 8px;

  background-color: hsl(248, 32%, 49%);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;
}

.right-container-cta span:first-of-type {
  font-weight: 600;
}

.right-container-cta span:last-of-type {
  opacity: 0.8;
}

/* form */

.right-container-form {
  width: 450px;

  padding: 1.5rem;
  border-radius: 8px;

  background-color: white;
}

/* this is inside the form element */
/* and it arranges the input boxes with flex */
.input-boxes-container {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-container-form input {
  height: 50px;
  display: block;

  border-radius: 5px;
  text-indent: 1rem;

  border-width: 1px;
  border-color: hsl(246, 25%, 90%);
  border-style: solid;
}

.right-container-form input:focus {
  outline-color: hsl(248, 32%, 90%);
}

.right-container-form button {
  height: 45px;

  background-color: hsl(154, 59%, 51%);
  border-color: hsl(154, 59%, 45%);
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;

  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

/* terms of service */

.tiny-text-tos {
  font-size: 8px;
  font-weight: 600;

  text-align: center;

  margin-top: 10px;
}

.tiny-text-tos span:first-of-type {
  opacity: 0.3;
}

.tiny-text-tos span:last-of-type {
  color: hsl(0, 100%, 74%);
}
